<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template less</title>
    <link rel="stylesheet" href="mainstyle.css">
</head>
<body>
<div class="canvas">
    <h1>Страница Login</h1>
        <div class="sub msg m-blue">
            <p>Тут должно писаться об ошибке<a href="#"> тут ссылка </a>продолжение</p>
        </div>
        <div class="sub sub2 usercard">
            <img src="img/userava/male/ava_male_2.png">
            <div>
                <h1>Добро пожаловать User1</h1>
                <hr>
                <p>Доступ к списку "TODO" получен </p>
            </div>
         <div class="clr"></div>
        </div>
    <form class="frm sub sub3" action="#" method="post">
        <h2>Форма автоизации</h2>
        <div class="block">
            <label for="login">Login</label>
            <input type= "text" name="login" placeholder="Введите логин">
        </div>
        <div class="block">
            <label for="password">Password</label>
            <input type= "password" name="password"placeholder="Введите пароль">
        </div>
        <div class="lastbut"><button type="submit" class="butsub">ОТПРАВИТЬ</button></div>
    </form>
<h2>Ajhvf asdfwe wefwe</h2>
    <form class="frm sub sub3" action="#" method="post">
        <h4>Форма завершенных дел</h4>
        <div class="checkblock">
            <label for="login">Купить в магазине большой кус</label>
            <input type="checkbox" name=todo[]>
            <div class="clr"></div>
        </div>
        <div class="checkblock">
            <label for="login">Password</label>
            <input  type="checkbox" name=todo[]>
            <div class="clr"></div>
        </div>
        <div class="checkblock">
            <label for="login">Password</label>
            <input  type="checkbox" name=todo[] checked disabled>
            <div class="clr"></div>
        </div>
        <div class="lastbut"><button type="submit" class="butsub">ОТПРАВИТЬ</button></div>
    </form>

    <table class="utable sub sub2">
        <tr><th>Пользователь</th><th>Имя</th><th>Пол</th><th>E-mail</th><th>Роль</th><th>Фото</th></tr>
        <tr><td>User1</td><td>Иван</td><td>мужской</td><td>ivan@gmail.com</td><td>Admin</td><td>img</td></tr>
        <tr><td>User2</td><td>Елена</td><td>Женский</td><td>helen@gmail.com</td><td>manager</td><td>img</td></tr>
        <tr><td>User3</td><td>Сергей</td><td>Мужской</td><td>serg@gmail.com</td><td>user</td><td>img</td></tr>
    </table>

    <div class="sub post">  <!-- ////////// Begin post-->
        <img src="img/userava/male/ava_male_1.png">
        <div>
            <strong>Koldun Maksim </strong><span>12 марта 2017</span>
            <p>Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.
                Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг,
                так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог</p>
        </div>
        <div class="clr"></div>
    </div>                  <!-- ////////// END post-->


</div>
</body>
</html>